$primary: var(--q-primary)
$secondary: var(--q-secondary)
$accent: var(--q-accent)
$border: var(--q-border)
$maintext: var(--q-maintext)
$lighttext: var(--q-lighttext)
$darktext: var(--q-darktext)
$positive: #21ba45
$negative: #ef4444
$info: #3b82f6
$warning: #f2c037
